@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* VARIABLES */
$theme-dark: #b6752b;
$theme-light: #e49c49;
$theme-accent: #b76507;
$theme-text: #000000;
$main-padding: 0 5%;

/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
    font-family: sans-serif;
}

html,
body,
#root {
    height: 100vh;
}

/* GLOBAL CLASSES */
#root {
    display: flex;
    flex-direction: column;
    color: $theme-text;
}

main {
    flex: 1;
    padding: 0 2%;
}

section {
    padding: $main-padding;
}

a {
    text-decoration: none;
    color: $theme-text;
}

.my-btn,
.my-btn:active,
.my-btn:focus,
.my-btn.focus {
    background-color: darken($theme-light, 10%) !important;
    transition: background-color 0.2s ease-in-out;
    border: none;
    border-radius: 6px;
    padding: 6px;
    color: $theme-text;

    &:hover,
    &.open {
        background-color: darken($theme-light, 15%) !important;
        color: $theme-text;
    }
}

.accent-text {
    color: $theme-dark;
}

/* CUSTOM CLASSES */
.custom-tooltip-container {
    position: relative;
    display: inline-block;
}

.custom-tooltip-content {
    position: absolute;
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translateX(-48%);
    background-color: #333;
    color: #fff;
    padding: 6px;
    border-radius: 4px;
    font-size: 13px;
    opacity: 0.9;
    z-index: 999;
    white-space: normal; 
    word-wrap: break-word;
    text-align: center;
    pointer-events: none;
    visibility: visible;

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        border: solid transparent;
        border-width: 6px;
        border-top-color: #333;
        transform: translateX(-50%);
      }
}

.custom-tooltip-trigger {
    display: inline-block;
    cursor: pointer;
}

header {
    background-color: $theme-dark;
    width: 100% !important;

    .logo {
        height: 30px;
    }

    nav {
        a {
            text-decoration: none;

            &:not(.inactive) {
                &.active {
                    text-decoration: underline;
                }
            }

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

.home {
    padding: 0 7%;

    .link {
        color: $theme-accent;
    }
}

.auth {
    form {
        max-width: 450px;
        margin: 0 auto;
    }
}

.error-message {
    color: rgb(208, 7, 7);
}

.success-message {
    color: rgb(37, 157, 18);
}

.loading-spinner circle {
    stroke: $theme-dark;
}

.loading-spinner path {
    fill: $theme-light;
}

.whiskey-link:hover {
    text-decoration: underline;
}

.modal {
    overflow: hidden !important;

    .modal-content {

        textarea,
        input {
            font-size: 14px;
        }
    }
}

.whiskeys {
    .whiskey-table {
        table-layout: fixed;

        td {
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
        }
    }

    @media (max-width: 700px) {
        font-size: smaller;
        overflow-x: auto;
        display: block;
    }

    .reset {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .pagination {
        .inactive:hover {
            cursor: default;
        }
    }
}

.whiskey-details {
    .whiskey-raiders:hover {
        text-decoration: underline;
    }
}